.loading-modal {
  .modal-dialog{
    max-width: 300px;
    margin-top: 200px;
  }
  .modal-dialog .modal-content {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13.92px;
    border: none;
    background-color: transparent;


    i {
      font-size: 64px;
    }

    &.analyse-loading {
      display: block;
      text-align: center;
      padding-top: 56px;

      .modal-body {
        text-align: center;
      }

      i {
        margin-bottom: 32px;
      }
    }
  }
}
